<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>about page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<ul>
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/about}">About</a></li>
    <li><a th:href="@{/contact}">Contact</a></li>
</ul>
<h1>About page</h1>

<!--Câu lệnh if-->
<p th:if="${age} < 18">Chưa đủ tuổi vị thành niên</p>

<!--Câu lệnh unless-->
<p th:unless="${age} >= 18">Chưa đủ tuổi vị thành niên</p>

<!--Toán tử 3 ngôi-->
<p th:text="${age} < 18 ? 'Chưa đủ tuổi vị thành niên' : 'Đủ tuổi vị thành niên'"></p>

<!--Câu lệnh switch-case-->
<th:block th:switch="${day}">
    <p th:case="1">Thứ 2</p>
    <p th:case="2">Thứ 3</p>
    <p th:case="3">Thứ 4</p>
    <p th:case="4">Thứ 5</p>
    <p th:case="5">Thứ 6</p>
    <p th:case="6">Thứ 7</p>
    <p th:case="0">Chủ nhật</p>
    <p th:case="*">Ngày không hợp lệ</p>
</th:block>

<h2>Giá trị của một biến sử dụng *{}</h2>
<th:block th:object="${user}">
    <p th:text="*{id}">Id : </p>
    <p th:text="*{name}">Name : </p>
    <p th:text="*{email}">Email : </p>
</th:block>

<h2>Cú pháp @{}</h2>
<!--/users/1-->
<!--/users/2-->
<h2>Danh sách user</h2>

<ul>
    <li th:each="user : ${users}">
        <a th:href="@{/users/{id}/{email} (id = ${user.id}, email = ${user.email})}" th:text="${user.name}"></a>
    </li>
</ul>


<script th:src="@{/js/main.js}"></script>
</body>
</html>